*{


    padding: 0 auto;
    margin: 0 auto;

}
    
#Contenedor{
background-color: #f1ecea;
width: 900px;
height: 1000px;

}


#Encabezado{
background-color: #3a251c;
height: 15%;
text-align: center;
color: white;
}

#Menu{
background-color: #b46424;
height: 5%;
text-align: center;
color: white;


}

#Contenido{
background-color: #362f2f;
height: 64%;
text-align: justify;
font-family: Arial, Helvetica, sans-serif;

}


#FueraSeccion{

background-color: #b58c7c;
height: 35%;
float: right;

}

.EncabezaC{
color: white;
    
}

.Texto{

color: white;

}

#PiePag{
height: 10%;
background-color: #3a251c;
color: white;
}

.ImagenA{
height: 100px;
width: 100px;
margin-left: 5px;
margin-right: 5px;

}